@{
    ViewData["Title"] = "Contact us";
    ViewData["PhoneNumber"] = "Phone Number: +1 902 xxx xxxx";
    ViewData["Email"] = "Email: qing.su@smu.ca";
    ViewData["Address"] = "Address: 923 Robie Street" + "\r\n" + "Halifax, NS" + "\r\n" + "B3H 3C3";
}

<h1>@ViewData["Title"]</h1>
<p>@ViewData["PhoneNumber"]
    <br>@ViewData["Email"]
    <br>@ViewData["Address"]</p>

