@{
    ViewData["Title"] = "Contact us";
    ViewData["PhoneNumber"] = "Phone Number: +1 902 123 4567";
    ViewData["Email"] = "Email: qing.su@smu.ca";
    ViewData["Address"] = "Address: 923 Robie Street" + "\r\n" + "Halifax, NS" + "\r\n" + "B3H 3C3";
}
<style>
    body {
        background: url("https://upload.wikimedia.org/wikipedia/commons/d/d2/Video_Game_%28Search%29.svg");
        background-size: cover;
    }
</style>


<h1>@ViewData["Title"]</h1>
<p>@ViewData["PhoneNumber"]</p>
<p>@ViewData["Email"]</p>
<p>
    Address: 923 Robie Street<br />Halifax, NS<br />B3H 3C3
</p>
