@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: url("https://upload.wikimedia.org/wikipedia/commons/d/d2/Video_Game_%28Search%29.svg");
        background-size: cover;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to GameSure.com</h1>
    <h2>We provide a perfect coverage to your gaming devices and gaming data</h2>
    <p>Learn more about <a href="/Home/Product">our plans</a>.</p>
</div>
