@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["LastUpdate"] = "Last updated: December 15, 2021";
    ViewData["Content"] = "GameSure is committed to maintaining your confidence and trust with respect to your privacy. This privacy policy explains how we collect, use and share your personal information.\nAbout our privacy policy\n This privacy policy applies to our websites, apps and other services, including programs and events, that refer or link to this privacy policy. The GameSure company that owns or administers the Service, as identified therein, is the primary controller of your personal information provided to, or collected by or for, the Service.";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["LastUpdate"]</h2>
<p>@ViewData["Content"]</p>